# misc top level dirs
.DS_Store
.org-id-locations
var
snippets
auto-save-list
backups
tramp
elpa
jabber-avatar-cache
url
user/
# misc files
*~
*.elc
.*.lock
*.html
\#*
/custom.el
savehist
session.*
secrets.el.gpg
private.org
private.el
emacs.el
bookmarks
custom.el
site-lisp/setup*.el
site-lisp/preload.el
.sx
emms/
network-security.data
